FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
/*
 * A style sheet for Chrome platform apps.
 */

@namespace "http://www.w3.org/1999/xhtml";

html {
  background-color: #cccccf;
  color: #333;
  -webkit-user-select: none;
  cursor: default;
}
