FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
# For the schema of this file and documentation, see ProjectCfg message in
# https://luci-config.appspot.com/schemas/projects:project.cfg

name: "chromium"
access: "group:all" # public
