FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
.inline-spinner,
.spinner {
  background-image: url('chrome://resources/images/spinner.svg');
  background-size: 100%;
}

.inline-spinner {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.spinner {
  height: 22px;
  width: 22px;
}
