FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
body {
  -webkit-app-region: drag;
  bottom: 0;
  left: 0;
  padding: 15px 15px 8px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

#passphrase-dialog {
  height: 100%;
}
