FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
h1 {color: white; background-color: black;}
h2 {color: white; background-color: black;}
h3 {color: white; background-color: black;}
h4 {color: white; background-color: black;}
h5 {color: white; background-color: black;}
h6 {color: white; background-color: black;}
