FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
# This config just runs the kraken test once.

config = {
  "command": "python tools/perf/run_benchmark -v --browser=release kraken",
  "max_time_minutes": "10",
  "repeat_count": "1",
  "target_arch": "x64",
  "truncate_percent": "0"
}

# Workaround git try issue, see crbug.com/257689

