FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
span.certUntrusted {
  background-color: pink;
  border: 1px solid red;
  border-radius: 3px;
  margin-right: 3px;
  padding-left: 1px;
  padding-right: 1px;
}
