FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
div.autofill-section {
  display: block;
  padding: 1em 0 0;
}

#profileSelectContainer {
  display: -webkit-box;
}

#profileSelectLeftColumn {
  -webkit-box-flex: 1;
}
#profileSelectLeftColumn select {
  width: 100%;
}
