FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
#content-settings-nav-tabs .inactive-tab {
  background-color: #FFFFFF;
}

#content-settings-nav-tabs .active-tab {
  background-color: #DFDFDF;
  font-weight: bold;
}

.content-settings-tab-contents {
  display: none;
}

.active-tab-contents {
  display: block;
}
