FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
# Refs configuration file. The documentation of the format can be found
# at https://luci-config.appspot.com/schemas/projects:refs.cfg.
refs {
  name: "refs/heads/master"
  config_path: "infra/config/branch"
}
