FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
body {
  background-image:url(chrome://theme/theme_ntp_background?$1);
  background-position:bottom;
  color: $2;
}
a {
  color: $3;
}
.sidebar.themed {
  background-color: $4;
}