FASTVC-BENCH-CORPUS:chromium-main-v1-943b94ae-1c74-4335-94fa-ceb4d277cea8
/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --oobe-button-font-family: "Google Sans", Roboto, sans-serif;
  --oobe-default-font-family: Roboto, sans-serif;
  --oobe-title-font-family: "Google Sans", Roboto, sans-serif;
}
